@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700|Roboto+Condensed:400,700");

$primaryFontFamily		:	"Roboto Condensed","Open sans",Helvetica,arial,sans-serif;
$secondaryFontFamily	:	"Roboto","Open sans",Helvetica,arial,sans-serif;

$minimumPageHeight    : 100rem;
$minimumContentHeight : 50rem;
